---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      authorization:
      - Bearer sk_test_4RY761zzTqgVHQNB5ciHEW9X
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      stripe-version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16G7XY4E0ggiBrh42XivV8kp",
          "livemode": false,
          "created": 1434889632,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16G7XY4E0ggiBrh41th4g1JS",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "jSAZR2hEKRYz14Hw",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "client_ip": "111.80.191.172"
        }
  recorded_at: Sun, 21 Jun 2015 12:36:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&source=tok_16G7XY4E0ggiBrh42XivV8kp
    headers:
      authorization:
      - Bearer sk_test_4RY761zzTqgVHQNB5ciHEW9X
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      content-type:
      - application/json
      stripe-version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16G7XZ4E0ggiBrh4awjupW4Q"
          }
        }
  recorded_at: Sun, 21 Jun 2015 12:36:51 GMT
recorded_with: VCR 2.9.3
