%section.invite.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @invitation, class: "invite" do |f|
        / %form.invite
        %header
          %h1 Invite a friend to join MyFlix!
        %fieldset
          .form-group
            / = f.label :recipient_name, "Friend's name"
            / %label Friend's Name
            .row
              .col-sm-4
                = f.text_field(:recipient_name, class: "form-control", label: "Friend's Name")
                / %input.form-control(type="text")
          .form-group
            / = f.label :recipient_email, "Friend's Email Address"
            / %label Friend's Email Address
            .row
              .col-sm-4
                = f.text_field(:recipient_email, class: "form-contol", label: "Friend's Email Address")
                / %input.form-control(type="email")
          .form-group
            / = f.label :messaeg
            / %label Invitation Message
            .row
              .col-sm-6
                = f.text_area(:message, class: "form-control", rows: 6, placeholder: "Please join this really cool site!", label: "Message")
                / %textarea.form-control(rows=6) Please join this really cool site!
        %fieldset.form-group.action
          %input(type="submit" value="Send Invitation" class="btn btn-default")
