---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      authorization:
      - Bearer sk_test_4RY761zzTqgVHQNB5ciHEW9X
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      stripe-version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16G7Xe4E0ggiBrh4bq1R9iEr",
          "livemode": false,
          "created": 1434889638,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16G7Xe4E0ggiBrh47jpawv5A",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "IUZs3RUUkrXeg5B2",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "client_ip": "111.80.191.172"
        }
  recorded_at: Sun, 21 Jun 2015 12:36:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&source=tok_16G7Xe4E0ggiBrh4bq1R9iEr
    headers:
      authorization:
      - Bearer sk_test_4RY761zzTqgVHQNB5ciHEW9X
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      stripe-version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_16G7Xf4E0ggiBrh4D6AdfTH8",
          "object": "charge",
          "created": 1434889639,
          "livemode": false,
          "paid": true,
          "status": "paid",
          "amount": 300,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_16G7Xe4E0ggiBrh47jpawv5A",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "IUZs3RUUkrXeg5B2",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "card": {
            "id": "card_16G7Xe4E0ggiBrh47jpawv5A",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "IUZs3RUUkrXeg5B2",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "balance_transaction": "txn_16G7Xf4E0ggiBrh4SKQvOj4v",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "destination": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_16G7Xf4E0ggiBrh4D6AdfTH8/refunds",
            "data": []
          },
          "statement_description": null
        }
  recorded_at: Sun, 21 Jun 2015 12:36:57 GMT
recorded_with: VCR 2.9.3
